atomicwrites==1.4.0
attrs==20.3.0
bcrypt==3.2.0
cffi==1.14.4
cheroot==8.4.8
CherryPy==3.8.2
click==7.1.2
colorama==0.4.4
dnspython==2.0.0
Flask==0.12.5
Flask-Materialize==0.2.4
Flask-PyMongo==2.3.0
Flask-Toastr==0.5.4
Flask-WTF==0.14.3
glob2==0.7
gunicorn==20.0.4
importlib-metadata==3.1.1
iniconfig==1.1.1
itsdangerous==1.1.0
jaraco.classes==3.1.0
jaraco.collections==3.0.0
jaraco.functools==3.0.1
jaraco.text==3.2.0
jasmine-core==2.0.2
Jinja2==2.11.2
MarkupSafe==1.1.1
more-itertools==8.6.0
ordereddict==1.1
packaging==20.7
pluggy==0.13.1
portend==2.7.0
py==1.9.0
pycparser==2.20
pymongo==3.11.1
pyparsing==2.4.7
pytest==6.1.2
python-decouple==3.3
pytz==2020.4
selenium==3.141.0
six==1.15.0
tempora==4.0.1
toml==0.10.2
urllib3==1.26.2
Werkzeug==0.16.1
WTForms==2.3.3
zc.lockfile==2.0
zipp==3.4.0
