/*====================================================
     NAV/MENU AND SUBMENU
====================================================*/

.nav-extended{
background-color: #000000;
}
.logo{
    color: #000000;
    font-size: large;
}

.sidenav-trigger a {
    text-transform: capitalize;
    margin-left: 10px;
    text-decoration: none;
    color: #0e0d0d;
  }
  
  .sidenav-trigger a:hover {
    transition-duration: 1s;
    text-decoration: none;
    color: #55acee;
    text-decoration: overline;
  }
  
  .sidenav-trigger {
    transition-duration: 0.2s;
    visibility: hidden;
  }
  
  .ui-menu:hover > .sidenav-trigger {
    visibility: visible;
  }


  .card-image{
    max-width:15%;
  }

