/*====================================================
     NAV/MENU AND SUBMENU
====================================================*/
.brand-logo{
margin-left: 20px;
}

#patButton{
  width: 10rem;
  background-color: #4e6cf5;
  color: solid #ffffff;
  
}

.formBorder{
box-sizing: content-box;
max-width: 10%;
display: block;
background-color: black;
}

/*====================================================
BUTTONS
====================================================*/

.z-depth-3{
  width: 120px;
  height: 120px;
  background-color: #e57373;
  padding-top: 50%;
  padding-bottom: 50%;
}

.buttScreem{
  margin-right: 50px;
}
