/*====================================================
     NAV/MENU AND SUBMENU
====================================================*/
.brand-logo{
margin-left: 20px;
}

#patButton{
  width: 10rem;
  background-color: #4e6cf5;
  color: solid #ffffff;
  
}

.formBorder{
box-sizing: content-box;
max-width: 10%;
display: block;
background-color: black;
}

/*====================================================
BUTTONS
====================================================*/

.z-depth-3{
  background-color: #e57373;
  display: block;
 
}

.buttScreem{
  margin-right: 5px;
  
}
.MedicalNotecss{
 display: none;
}

.indexButton{
  padding-top: 15%;
  padding-left: 25%;
  padding-right: 25%;
  padding-bottom: 15%;
  
}

#DoctorsPicture{
  border-radius: 50px;
  background: rgb(240, 89, 172);
  width: 200px;
  height: 150px;
  -webkit-border-radius:0;
  -moz-border-radius:0;
  -ms-border-radius:0;
  -o-border-radius:0;
}


.backgrounImg {
  display: flexbox;
  float: left;
  transform: translate3d(-0%, 0px, 0px);
  background-size: cover;
  background-attachment: fixed;
  max-width: 1440px;
  -webkit-transform: translate3d(-0%, 0px, 0px);
  -moz-transform: translate3d(-0%, 0px, 0px);
  -ms-transform: translate3d(-0%, 0px, 0px);
  -o-transform: translate3d(-0%, 0px, 0px);
}

.footerInfo{
  max-height: 10%;
  background-color: teal;
}

.footerIcon{

  padding-right: 40%;
  padding-left: 40%;
}

.BarStaff{
    padding-top: 5%;
    padding-bottom: 5%;

}
.ilike-blue-container {
  @extend .blue-text, .text-lighten-4;
}

.optionIcon{
background-color: #ff8a80;
color: white;
max-width: 150px;
height: 100px;
padding: 50px;
margin: 20px;
}

.centerpotition{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.BoardName{
  background-color: teal;
}

