{% extends "material/base.html" %}
{% block content -%}

<div class="row">
    <div class="col s12 m4 ">
        <div class="row">
            <div class="col s12 m7">
                <div class="card">
                    <div class="card-image">
                        <img src="{{url_for('static', filename = 'img/WeTeam.jpg')}}">
                    </div>
                    <div class="card-content">
                        <p>{{data.FirstName}} {{data.LastName}}</p>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="col s12 m8 ">
        <div>
            <div class="row ">

                <a href="/myProfile/{{data._id}}">
                    <div class="col 12 m6 l3 optionIcon z-depth-5">
                        <i class="Medium material-icons">person</i>
                        <p class="row">My Profile</p>
                    </div>
                </a>
                {% if userlog.category != "Patient" %}
                    <a href="/EmergencyStaff/{{data._id}}">
                    <div class="col s12 m6 l3 optionIcon z-depth-5">
                        <i class="Medium material-icons">contact_mail</i>
                        <p>Emergency Room</p>
                    </div>
                </a>
                {% endif %}
            </div>
            <div class="row">
                <a href="/MyDoctor/{{data._id}}">
                    <div class="col s12 m6 l3 optionIcon z-depth-5">
                        <i class="Medium material-icons">contact_mail</i>
                        <p>My Doctor</p>
                    </div>
                </a>
                <a href="/SeeAll/{{data._id}}">
                    <div class="col s12 m6 l3 optionIcon z-depth-5">
                        <i class="Medium material-icons">contact_mail</i>
                        <p>See All</p>
                    </div>
                </a>
           </div>
          </div>
        </div>
    </div>
</div>



{%- endblock content %}