{% extends "material/base.html" %}
{% block content -%}

<div class="row">
    <div class="col s12 m4 ">
        <div class="row">
            <div class="col s12 m7">
                <div class="card">
                    <div class="card-image">
                        <img src="{{url_for('static', filename = 'img/WeTeam.jpg')}}">
                    </div>
                    <div class="card-content">
                        <p>{{data.FirstName}} {{data.LastName}}</p>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="col s12 m8 ">
        <div class="card-panel teal">
            <div class="row">
                {% with messages = get_flashed_messages(category_filter=['Patient', 'Doctor', 'Nurse', 'DirectorDoctor']) %}
                {% if messages %}
                <a href="/myProfile/{{data._id}}">
                    <div class="col 12 m6 l3 optionIcon z-depth-5">
                        <i class="Medium material-icons">person</i>
                        <p class="row">My Profile</p>
                    </div>
                </a>
                <a href="/facture/{{data._id}}">
                    <div class="col 12 m6 l3 optionIcon z-depth-5">
                        <i class="Medium material-icons">credit_card</i>
                        <p class="row">My Bill </p>
                    </div>
                </a>
                <a href="/MedicalRecord/{{data._id}}">
                    <div class="col s12 m6 l3 optionIcon z-depth-5">
                        <i class="Medium material-icons">assignment</i>
                        <p>My Medical Record</p>
                    </div>
            </div></a>
            <div class="row">

                <a href="/MyDoctor/{{data._id}}">
                    <div class="col s12 m6 l3 optionIcon z-depth-5">
                        <i class="Medium material-icons">contact_mail</i>
                        <p>My Doctor</p>
                    </div>
                </a>
                <a href="/doctorList/{{data._id}}">
                    <div class="col s12 m6 l3 optionIcon z-depth-5">
                        <i class="Medium material-icons">contacts</i>
                        <p>See All Doctor</p>
                    </div>
                </a>
                <a href="/doctorList/{{data._id}}">
                    <div class="col s12 m6 l3 optionIcon z-depth-5">
                        <i class="Medium material-icons">contacts</i>
                        <p>See All Nurse</p>
                    </div>
                </a>
            </div>

                {% endif %}
                {% endwith %}
                {% with messages = get_flashed_messages(category_filter=['Doctor', 'Nurse', 'DirectorDoctor']) %}
                {% if messages %}
                <div class="row">
                <a href="/AllPatient/{{data._id}}">
                    <div class="col s12 m6 l3 optionIcon z-depth-5">
                        <i class="Medium material-icons">airline_seat_flat_angled</i>
                        <p>See All Patient</p>
                    </div>
                </a>

                <a href="/MyDoctor/{{data._id}}">
                    <div class="col s12 m6 l3 optionIcon z-depth-5">
                        <i class="Medium material-icons">contact_mail</i>
                        <p>My Doctor</p>
                    </div>
                </a>
                <a href="/doctorList/{{data._id}}">
                    <div class="col s12 m6 l3 optionIcon z-depth-5">
                        <i class="Medium material-icons">contacts</i>
                        <p>See All Doctor</p>
                    </div>
                </a>
                {% endif %}
                {% endwith %}
                {% with messages = get_flashed_messages(category_filter=['DirectorDoctor']) %}
                {% if messages %}
                <a href="/SeeAll/{{id}}">
                    <div class="col s12 m6 l3 optionIcon z-depth-5">
                        <i class="Medium material-icons">contacts</i>
                        <p>see All Employee</p>
                    </div>
                </a>
                {% endif %}
                {% endwith %}
            </div>
          </div>
        </div>
    </div>
</div>
{%- endblock content %}