{% extends "material/base.html" %}
{% from "material/macro.html" import render_field %}
{% block content -%}

<!--SHOW A INFO ABOUT THE PATIENT-->
<div class="row">
  <div class="col s12 m4 18">
    <h4 class="header">Info: {{patientsData.FirstName}} {{patientsData.LastName}}</h4>
    <div class="card horizontal">
      <div class="card-stacked">
        <div class="card-content">
          {% for RecNum in patientsData.Emergincy %}
          <h5>Emergincy Record Number: <div name="EmReNu">{{RecNum}}</div>
          </h5>
          {% endfor %}
          <h5>BOD: {{patientsData.BOD}}</h5>
          <h5>Language: {{patientsData.language}}</h5>
          <!--SHOW A INFO ABOUT THE DAY PATIENT HAVE IN EMERGENCY-->
          <div class="row ">
            <h5 class="header center">Record by Days:</h5> 
            {% if patientsData.DoctorNote %}
            {% for Medical in patientsData.DoctorNote %}
            <br>
            <table>
              <thead>
                <tr>
                  <th>{{Medical.Date}}</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>by: {{Medical.Doctor.Category}} {{Medical.Doctor.FirstName}} {{Medical.Doctor.LastName}}</td>
                </tr>
                <tr>
                  <td>Prescription: {{Medical.Prescription[0] }}</td>
                </tr>
                <tr>
                  <td>Referencia: {{Medical.Referencia[0] }}</td>
                </tr>
                <tr>
                  <td>Note: {{Medical.Note}}</td>
                </tr>
                <tr>
                  <td>Medication: {{Medical.Medication[0][0] }} {{Medical.Medication[1][0]}}</td>
                </tr>
                <tr>
                  <td>Test: {{Medical.Test[0][0] }} {{Medical.Test[1][0] }}</td>
                </tr>
                <tr>
                  <td class="breakLine"></td>
                </tr>

              </tbody>
            </table>
            {% endfor %}
            {% endif %}
          </div>
          <!--SHOW A INFO ABOUT THE DAY PATIENT HAVE IN EMERGENCY-->
          <div class="row ">
            <h5 class="header">Medical Treatment by day:</h5>
            {% if patientsData.NurseNote %}
            {% for Medical in patientsData.NurseNote %}
            <table>
              <thead>
                <tr>
                  <th>{{Medical.Date}}</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>by: {{Medical.Nurse.Category}} {{Medical.Nurse.FirstName}} {{Medical.Nurse.LastName}}</td>
                </tr>
                <tr>
                  <td>Breathing: {{Medical.Breathing }}</td>
                </tr>
                <tr>
                  <td>Allergies: {{Medical.Allergies }}</td>
                </tr>
                <tr>
                  <td>Mets: {{Medical.Mets}}</td>
                </tr>
                <tr>
                  <td>Breathing: {{Medical.Pulse }}</td>
                </tr>
                <tr>
                  <td>BodyTemperature: {{Medical.BodyTemperature }}</td>
                </tr>
                <tr>
                  <td>NurseObservation: {{Medical.NurseObservation }}</td>
                </tr>
                <tr>
                  <td>MedicalIssues: {{Medical.MedicalIssues }}</td>
                </tr>
                <tr>
                  <td>IntensityService: {{Medical.IntensityService }}</td>
                </tr>
                <tr>
                  <td class="breakLine"></td>
                </tr>

              </tbody>
            </table>
            {% endfor %}
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="col s12 m6 l8">
    <h2 class="header">Hi, {{DrPasientID.Category}}: {{DrPasientID.FirstName}} {{DrPasientID.LastName}}</h2>
    <div class="card horizontal">
      <div class="card-stacked">
        <div class="card-content">
          <form action="/Doctor/{{DrPasientID._id}}/{{patientsData._id}}" method="POST" class="col s12">
            <div class="row">
              <div class="input-field col s12 m6 l6">
                {{ render_field(form.Prescription, placeholder="Prescription", class="validate", id="Prescription") }}
              </div>

              <div class="input-field col s12 m6 l6">
                {{ render_field(form.Referencia, placeholder="Referencia", class="validate", id="Referencia") }}

              </div>
            </div>
            <div class="row">
              <div class="input-field col s12 m6 l6">
                {{ render_field(form.Note, placeholder="Note", class="validate", id="Note") }}
              </div>
            </div>
            <div class="row">
              <h5>Assign Medication</h5>
              <div class="input-field col s12 m6 l4">
                {{ render_field(form.assigMed, placeholder="Medication", class="validate", id="assigMed") }}
                <dd>
                  <div id="newfieldMed"></div>
                </dd>
              </div>
              <div class="input-field col s12 m6 l4">
                {{ render_field(form.Indications, placeholder="Indications", class="validate", id="Indications") }}
                <dd>
                  <div id="newfieldInd"></div>
                </dd>
              </div>
              <div class="input-field col s12 m6 l4">
                <div id="addFields" class="center btn waves-effect waves-light" onclick="addfield()">AddField</div>
                <div id="removeFields" class="center btn waves-effect waves-light"
                  onclick="RemuveField('readyFieldInd'); RemuveFields('readyFieldMed')">RemoveField</div>
              </div>
              <div id="fieldsMessages"></div>
            </div>

            <div class="row">
              <h5>Assign Test</h5>
              <div class="input-field col s12 m6 l4">
                {{ render_field(form.TestName, placeholder="Test Name", class="validate", id="TestName") }}
                <dd>
                  <div id="newFldTestName"></div>
                </dd>

              </div>
              <div class="input-field col s12 m6 l4">
                {{ render_field(form.DoBefore, type="date", class="validate", id="DoBefore") }}
                <dd>
                  <div id="newFldDoBefore"></div>
                </dd>
              </div>
              <div class="input-field col s12 m6 l4">
                <div id="addFields" class="center btn waves-effect waves-light" onclick="addfieldTest()">AddField
                </div>
                <div id="removeFields" class="center btn waves-effect waves-light"
                  onclick="RemuveFieldTest('readyFieldTest'); RemuveFieldsDoBe('readyFieldDoBe')">RemoveField</div>
              </div>
              <div id="fieldsMessagesTest"></div>
            </div>
            <div class="row">
              <button id="patButton" class="center btn waves-effect waves-light" type="submit" name="action"
                value=Register>Submit</button>
            </div>
        </div>
      </div>
      </form>
    </div>
    <div class="row">
      <a href="/Discharge/{{patientsData._id}}" class="center btn waves-effect pink accent-4">Discharge</a>
    </div>
  </div>
</div>
</div>
</div>













{%- endblock content %}