{% extends "material/base.html" %}
{% from "material/macro.html" import render_field %}
{% block content -%}
<div class="row">
  <div class="col l4 s12">
    <h5>Organizational and Functional Levels</h5>
    <p>
      Structurally, it is made up of three (3) organizational and functional levels, to cover the health needs of more than 10 million citizens with the right to health.
      <img class="responsive-img" src="{{url_for('static', filename = 'img/CurTime.jpg')}}">

      
      Central level, which has the management function of all regional health services
      Regional Level, structured by Nine (9) Regional Health Services (SRS), which in turn constitute public health care services.
      Operational Level, which has the function of providing health services to the population.</p>
  </div>
  <div class="col l4 s12">
    <h5>Mission and Vision.
    </h5>
    <p>Mission: 
      Promote the development and strengthening of the provision of health services, through the Regional Services
      organized in Network, according to the values and principles of the Care Model, to contribute to the health of
      individuals, families and communities.

      Vision:
      To be recognized by society as a highly effective institution in the management of the provision of health
      services in an environment of equity, effectiveness, efficiency, quality and transparency.</p>
    <p><img class="responsive-img" src="{{url_for('static', filename = 'img/pregna.jpeg')}}"></p>
  </div>
  <div class="col l4 s12">
    <h5>Institutional values</h5>
    <p><img class="responsive-img" src="{{url_for('static', filename = 'img/carePatient.jpg')}}"></p>
    <p>Institutional values

      Equity: Creation of health opportunities according to the needs of the population.
      Efficacy: Ability to achieve the proposed objectives.
      Efficiency: Ability to do what is proposed at the lowest cost in the use of resources.
      Quality: Ability to maintain a certain standard in the provision of services.
      Transparency: Manage internal resources and procedures in accordance with ethical standards and free access to
      information available to all actors.
      Warmth: Maintenance of a pleasant, cozy and familiar work environment for all users.
      Social responsibility: Contribute to the sustainable and sustainable development of the environment, the family
      and the vulnerable segments of society, without compromising the resources of future generations.</p>
  </div>

</div>

{%- endblock content %}