{% extends "base.html" %}

{% block baseContainer %}
<div class="row">
  <div class="col s5">
    <div class="card horizontal">
      <div class="card-stacked">
        <div class="card-content">
          <div class="row">
            <form action="/page/{{id}}" method="POST" class="col s12">
              <div class="row">
                <h2 class="header">
                  {% for ticketTurn in datas %}
                  {% for Turn in ticketTurn.Emergincy %}
                  <p>Ticekts: {{ Turn }}</p>
                  {% endfor %}
                  <h4>{{ticketTurn.FirstName}}, {{ticketTurn.LastName}}</h4>
                  <h4>{{ticketTurn.BOD}}</h4>
                  {% endfor %}
                  {% for num in Star %}
                  {{num}}
                  {%endfor%}
                </h2>
              </div>
          </div>
          <div class="row center">
            <div class="col s6">
              <a id="patButton" class="btn waves-effect waves-light" href="/page/{{num}}" name = "mas">Call</a>
            </div>
          </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="col s7 right">
    <h5 class="container header">Patients List</h5>
    {% with PatientListVar = get_flashed_messages(PatientsList) %}
    {% if PatientListVar %}
    {% for PatiientList in PatientListVar %}
    <div class="row">
      <table class="container">

        <thead>
          <tr>
            <th>Ticket</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Bird day</th>
            <th>Condition</th>
            <th>Note</th>
            <th>evaluation</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            {% for Emergincy in PatiientList.Emergincy %}
            <td>{{ Emergincy }}</td>
            {% endfor %}
            <td>{{ PatiientList.FirstName }}</td>
            <td>{{ PatiientList.LastName }}</td>
            <td>{{ PatiientList.BOD }}</td>
            <td>{{ PatiientList.Condition }}</td>
            <td>{{ PatiientList.Note }}</td>

            <td><a class="btn MedicalNote" href="/addNourse/{{ PatiientList._id }}">Nourse</a></td>
            <td><a class="btn MedicalNote" href="/addDoctor/{{ PatiientList._id }}">Doctor</a></td>
          </tr>
        </tbody>
      </table>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
  </div>

</div>
{% endblock baseContainer%}