{% extends "material/base.html" %}
{% block content -%}
<div class="row">
  <div class="col s5">
    <h5 class="header">hi, {{data.Category}} {{data.FirstName}} {{data.LastName}}</h5>
    <div class="card horizontal">
      <div class="card-stacked">
        <div class="card-content">
          <div class="row">
            <form action="/EmergencyStaff/{{data._id}}" method="GET" class="col s12">
              <div class="row">
                <h2 class="header">{{num.FirstName}} {{num.LastName}}</h2>
                <h4 >Bird day: {{num.BOD}}</h4>
                  {% for Turn in num.Emergincy %}
                  <h3>Ticekts: {{ Turn }}</h3>
                  {% endfor %}
                  
                </h2>
              </div>
          </div>
          <div class="row center">
            <div class="col s6">
              <button id="patButton" class="btn waves-effect waves-light" name = action>Call</button>
            </div>
          </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="col s7 right">
    <h5 class="container header">Patients List</h5>
    {% for List in ListBD %}
    <div class="row">
      <table class="container">

        <thead>
          <tr>
            <th>Ticket</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Bird day</th>
            <th>Condition</th>
            <th>Note</th>
            <th>evaluation</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            {% for Emergincy in List.Emergincy %}
            <td>{{ Emergincy }}</td>
            {% endfor %}
            <td>{{ List.FirstName }}</td>
            <td>{{ List.LastName }}</td>
            <td>{{ List.BOD }}</td>
            <td>{{ List.Condition }}</td>
            <td>{{ List.Note }}</td>

            {% with messages = get_flashed_messages(category_filter=['Nurse']) %}
            {% if messages %}
            <td><a class="btn MedicalNote" href="/addNourse/{{data._id}}/{{ List._id }}">Nurse</a></td>
            {% endif %}
            {% endwith %}
            {% with messages = get_flashed_messages(category_filter=['Doctor', 'DirectorDoctor']) %}
            {% if messages %}
            <td><a class="btn MedicalNote" href="/addDoctor/{{data._id}}/{{ List._id }}">Doctor</a></td>
            {% endif %}
            {% endwith %}
          </tr>
        </tbody>
      </table>
    </div>
    {% endfor %}
  </div>

</div>
{%- endblock content %}