{% extends "base.html" %}
{% block baseContainer %}

<div class="row">
<div class="col s12 m4 l4">
<div class="container card horizontal">
      <div class="card-content card-stacked">
        <div class="row">
            <h6>do pay</h6>
        </div>
        <div class="row">
          <form  action="{{url_for('session')}}" method="POST" class="col s12">
          <script src="//checkout.stripe.com/checkout.js" class="stripe-button"
          data-key ="{{publicKeys}}"
          data-amount="990"
          data-description="pay your bill online"
          data-image="{{url_for('static', filename = '/img/logo.jpg')}}"
          data-locate="auto">
        </script>
        </form>
      </div>
    </div>
</div>
</div>
<div class="col s12 m4 l8">
<div class="card container">
    <div class="center">
   <img src=" {{url_for('static', filename = '/img/logo.jpg')}}" alt="">
    <h6 >Emergency Level</h6>
    </div>
<div id="userbill"></div>
</div>
</div>

</div>
<script src="https://js.stripe.com/v3/"></script>
{% endblock baseContainer %}