{% extends "base.html" %}

      {% block baseContainer %} 

      <h1 id="indexContainer">Home Page</h1>
      <div class="center container">
      <div class="row">
        <div class="col s1 buttScreem"><a class="btn z-depth-3" href="{{url_for('patient')}}">Patient</a></div>
        <div class="col s1 buttScreem"><a class="btn z-depth-3" href="{{url_for('doctorList')}}">Appoinment</a></div>
        <div class="col s1 buttScreem"><a class="btn z-depth-3" href="{{url_for('patient')}}">Staff</a></div>
        <div class="col s1 buttScreem"><a class="btn z-depth-3" href="{{url_for('emergencyTeam')}}">Team</a></div>
      </div>
        <div class="row">
          <div class="col s1 buttScreem"><a class="btn z-depth-3" href="{{url_for('room')}}">Room</a></div>
          <div class="col s1 buttScreem"><a class="btn z-depth-3" href="{{url_for('patient')}}">Patient</a></div>
          <div class="col s1 buttScreem"><a class="btn z-depth-3" href="{{url_for('patient')}}">Patient</a></div>
          <div class="col s1 buttScreem"><a class="btn z-depth-3" href="{{url_for('patient')}}">Patient</a></div>
      </div>
      <div class="row">
        <div class="col s1 buttScreem"><a class="btn z-depth-3" href="{{url_for('patient')}}">Patient</a></div>
        <div class="col s1 buttScreem"><a class="btn z-depth-3" href="{{url_for('patient')}}">Patient</a></div>
        <div class="col s1 buttScreem"><a class="btn z-depth-3" href="{{url_for('patient')}}">Patient</a></div>
        <div class="col s1 buttScreem"><a class="btn z-depth-3" href="{{url_for('patient')}}">Patient</a></div>
      </div>
    </div>
      {% endblock baseContainer%}


     