{% extends "material/base.html" %}
{% from "material/macro.html" import render_field %}

{% block content -%}

<div class="row">
  <div class="col xl3 m4 l3">
    <div class="card horizontal">
      <div class="card-stacked">
        <div class="card-content">
            <div class="row center">
                <h6>{{AlluserCat.FirstName}} {{AlluserCat.LastName}}</h6>
                <h6>{{ AlluserCat.BOD }}</h6>
                <h6>{{ AlluserCat.Address }}</h6>
                <h6>{{ AlluserCat.Phone }}</h6>
                <h6>{{ AlluserCat.Email }}</h6>
                <td><a class="btn MedicalNote" href="/SeeAll/{{AlluserCat._id}}">add a Doctor</a></td>
            </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col xl9 m4 l8">
    <h5 class="container header">Your Doctors</h5>
    {% if AlluserCat.myDoctors %}

    <div class="row">
      <table class="responsive-table">

        <thead>
          <tr>
            <th>Specialist</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Bird day</th>
            <th>Address</th>
            <th>Phone</th>
            <th>Email</th>
         </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ AlluserCat.myDoctors.Specialty }}</td>
            <td>{{ AlluserCat.myDoctors.FirstName }}</td>
            <td>{{ AlluserCat.myDoctors.LastName }}</td>
            <td>{{ AlluserCat.myDoctors.BOD }}</td>
            <td>{{ AlluserCat.myDoctors.Address }}</td>
            <td>{{ AlluserCat.myDoctors.Phone }}</td>
            <td>{{ AlluserCat.myDoctors.Email }}</td>

            <td><a class="btn MedicalNote" href="/delete/{{ AlluserCat._id }}">Make Appoiments</a></td>
            <td><a class="btn MedicalNote" href="/delete/{{ AlluserCat._id }}">Delete</a></td>

          </tr>
        </tbody>
      </table>
    </div>
  
    {% endif %}

  </div>

</div>
{%- endblock content %}

