{% extends "material/base.html" %}
{% block content -%}
{% if session['Username'] %}

{% endif %}
<div class="row">
    <div class="col s12 m8 ">
        <div class="card-panel white">
                    <div class="responsive-ta">
                        <h5>First Name  : {{Profile.FirstName}}</h5>
                        <h5>Last Name   : {{Profile.LastName}}</h5>
                        <h5>Bird of Day : {{Profile.BOD}}</h5>
                        <h5>Address     : {{Profile.Address}}</h5>
                        <h5>Phone       : {{Profile.Phone}}</h5>
                        <h5>Email       : {{Profile.Email}}</h5>
                        {% if Category != 'Patient'  %}
                        <h5>Potition    : {{Profile.Category}}</h5>
                        {% endif %}
                    </div>




        </div>
    </div>
</div>
{%- endblock content %}