{% extends "material/base.html" %}
{% from "material/macro.html" import render_field %}
{% block content -%}
<div class="center">
  <h2 class="header">singup</h2>
        <form action="/addsingup/{{id}}" method="POST">
          <div class="row">
            <div class="col m12 l6">
              <div class="card gray lighten-5">
                <div class="card-content white-text">
                  <span class="card-title">My account</span>
                  <label for="Patientseach">I'm a regular Patient</label>
                  {{ render_field(form.Username, placeholder="Username", class="validate", id="Username") }}
                  {{ render_field(form.Password, placeholder="Password", class="validate", id="Password", type="Password") }}
                </div>
                <div class="center">
                  <button id="patButton" class="btn waves-effect waves-light" type="submit" name="action">Submit</button>
                </div>
              </div>
          </div>
          </div>
  </form>
</div>

{%- endblock content %}